/*Universal styles here*/

html, body {
    font-size: 16px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    /*background-color: #DDEEFF;*/
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    height: 100%;
}

body {
    background: repeat, url('../images/wild-sea.png'), rgba(256, 256, 256, .3);
 /* temporary shim... replace with footer scheme later */
}

a, .link {
    color: #EFEFEF;
    text-decoration: none;
    text-decoration-style: solid;
}

#background {
    background-color: rgba(256, 256, 256, .5);
    height: 100%;
    position: relative;
}

.heading-big {
    font-size: 250%;
    font-weight: bolder;
    margin: 4px;
}

.flavor-text-medium {
    font-size: 119%;
    font-weight: normal;
    line-height: 150%;
}

.flavor-text-medium-small {
    font-size: 113%;
    font-weight: lighter;
}

.flavor-text-small {
    font-weight: lighter;
}

.heading-medium {
    font-size: 150%;
    font-weight: 500;
    margin: 2px;
}


#footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    color : #FFFFFF;
    background-color: #000000;
}

/*shared 'navbar' styles here*/

#navbar {
    /*display: table;
    position: static;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;*/
    background-color: #000000;
    width:100%;
    height: 35px;
    color: #EFEFEF;
    padding: 15px 45px 15px;
}

#navbar-left-element {
    width: 33%;
    text-align: left;
    vertical-align: middle;
}
#navbar-left-element > a, b {
    padding-left: 15px;
    padding-right: 15px;
}


#navbar-center-element {
    width: 34%;
    text-align: center;
    vertical-align: middle;
}
#header-title-tile {
    font-size: 157%;
    color: #FFFFCC
}

#navbar-right-element {
    width: 33%;
    font-size: 120%;
    font-weight: bolder;
    text-align: right;
    vertical-align: middle;
}
#navbar-right-element > b {
    padding-left: 15px;
}

.navbar-disabled {
    color: #888888;
    cursor: not-allowed;
}

#navbar-current-page {
    font-size: 115%;
    color: #FFFFCC;
}
#navbar-current-page:hover {
    text-shadow: 1px 1px 2px white;
}

#navbar-signout:hover {
    text-shadow: 1px 1px 2px white;
}

/*index.html styles here*/

#greeting-panel {
    width: 760px;
    margin: 150px auto;
    background-color: rgba(0,0,0,.6);
    border-radius: 9px;
    padding: 9px;
    text-align: center;
}

#sign-in-table {
    width: 100%;
    margin: auto;
}

.sign-in-cell {
    width: 50%;
    margin: 15px;
    background: rgba(256, 256, 256, .2);
    border-radius: 9px;
    padding: 6px;
}



/*symptoms.html styles here*/

#symptom-panel {
    width: 960px;
    margin: 50px auto;
    padding: 20px 0 20px;
    background-color: rgba(0,0,0,.6);
    border-radius: 9px;
    text-align: center;
}

#symptom-grid {
    margin: 30px auto 0;
    border-collapse: separate;
    border-spacing: 15px;
}

.symptom-cell {
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: bottom;
    border: 6px solid #000000;
    border-image-width: 0;
    padding: 0;
}

.symptom-cell > div {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,.4);
    top: 160px;
    height: 40px;
    width: 200px;
    overflow: hidden;
}

.symptom-selected {
    border-color: #ff6600;
    cursor: pointer;
}

#proceed-button {
    border-radius: 5px;
    background-color: #996600;
    vertical-align: middle;
}

#proceed-enabled {
    border-radius: 5px;
    background-color: #ffa500;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 0 8px #FFFFFF inset
}

#proceed-enabled:hover {
    background-color: #ffc520;;
}


/*results.html styles here*/

#supplement-container {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 30px auto;
}

.supplement-panel {
    width: 27%;
    height: fit-content;
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 9px;
}

.supp-heading {
    margin: .3em;
    text-align: center;
}

.supp-desc {
    margin: .75em;
    text-align: justify;
}
.supp-info {
    display: block;
    margin: .5em auto;
    text-align: center;
}

.supp-image {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,1);
}

#restart-button {
    width: 150px;
    height: 150px;
    margin: auto 0;
    background-color: #556B2F;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: -3px -3px 3px #000000 inset;
}

#restart-button:hover {
    box-shadow: 3px 3px 3px #000000 inset;
}

#restart-img {
    width: 50%;
    height: auto;
    margin: 26%; /*slightly odd image looks better with +1% margin*/
    cursor: pointer;

}

/*about.html styles here*/

#about-panel {
    width: 960px;
    margin: 150px auto;
    background-color: rgba(0,0,0,.6);
    border-radius: 9px;
    padding: 30px;
    text-align: justify;
}
#about-panel > #friendly-about > img {
    width: 250px;
    height: 250px;
    border-radius: 9px;
    float: left;
    margin: 0 30px 20px 0;
}

#about-title {
    text-align: center;
    margin-bottom: 27px
}